services:
    nginx:
        image: nginx:1.21.1
        ports:
            - '80:80'
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./src:/var/www/
        depends_on:
            php:
                condition: service_started
            mysql:
                condition: service_healthy

    php:
        build: ./docker/php
        volumes:
            - ./src:/var/www/
        depends_on:
            mysql:
                condition: service_healthy

    mysql:
        image: mysql:8.0.26
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel_db
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: laravel_pass
        command: mysqld --default-authentication-plugin=mysql_native_password
        volumes:
            - ./docker/mysql/data:/var/lib/mysql
            - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', '127.0.0.1', '-proot']
            interval: 5s
            timeout: 3s
            retries: 30

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        environment:
            - PMA_ARBITRARY=1
            - PMA_HOST=mysql
            - PMA_USER=laravel_user
            - PMA_PASSWORD=laravel_pass
        depends_on:
            mysql:
                condition: service_healthy
        ports:
            - '8080:80'

    mail:
        image: mailhog/mailhog
        ports:
            - '8025:8025'
            - '1025:1025'

    stripe-cli:
        image: stripe/stripe-cli
        volumes:
            - ~/.config/stripe:/root/.config/stripe
        command: >
            listen --forward-to http://host.docker.internal/webhook/stripe
        restart: unless-stopped
