.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: dashed 1px rgb(95, 95, 95);
    border-radius: 5px;
    height: 200px;
    width: 100%;
}

.image-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.uploaded-image {
    height: 100%;
    max-width: calc(100% - 150px);
}

.image-input-hidden {
    display: none; /* デフォルトのファイル選択ボタンを非表示に */
}

.image-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(255, 85, 85);
    font-weight: bold;
    width: 120px;
    height: 35px; /* 高さを明示して中央位置を確定させる */
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(255, 85, 85);
    font-size: 14px;
    padding: 0;
}

.item-title {
    font-size: 24px;
    color: rgb(95, 95, 95);
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(95, 95, 95);
}

.categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

/* チェックボックスを完全に非表示に */
.category-input {
    display: none;
}

/* ラベルのテキスト部分をボタン風に装飾 */
.category-text {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 2px 16px;
    border-radius: 9999px;
    border: 2px solid rgb(255, 85, 85);
    color: rgb(255, 85, 85);
    transition: all 0.3s ease;
}

/* チェックされていたら背景と文字色変える */
.category-input:checked + .category-text {
    background-color: rgb(255, 85, 85);
    color: white;
    border-color: rgb(255, 85, 85);
}

.content-form-textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
}

.prefix {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    font-family: "Noto Sans JP", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    font-weight: bold;
}

.price-input {
    padding-left: 20px; /* ¥の余白 */
    box-sizing: border-box;
    height: 30px;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.content-form-input,
.content-form-textarea,
.price-input,
.item-title {
    font-family: "Noto Sans JP", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
