.content-wrapper-small {
	margin: 0 auto;
	width: 90%;
	max-width: 1540px;
	text-align: center;

}

.verify-text {
	font-weight: bold;
	font-size: 20px;
}

.verify-text:first-child {
	margin-top: 150px;
}
