.image-wrapper {
    display: flex;
    align-items: center;
	gap: 30px;
}

.image-error {
    margin-bottom: 50px;
}

.image-circle {
    width: 100px;
    height: 100px;
    background-color: rgb(217,217,217);
    border-radius: 50%;
}

.image-input-hidden {
    display: none; /* デフォルトのファイル選択ボタンを非表示に */
}

.image-label {
    display: inline-block;
    background-color: white;
    color: rgb(255, 85, 85);
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(255, 85, 85);
    font-size: 14px;
}

.content-form-input {
    font-family: "Noto Sans JP", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}